#product{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2%;
    margin: 3%;
    text-align: center;

}

button{
    width: 200px;
    height: 30px;
    font-size: 13px;
    color: black;
}
h1{
    text-align: center;
}